<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee direction="right" behavior="alternate" loop="4" scrollamount="20px"><h1>Python is easy to learn</h1></marquee>
    <h1>Python is highlevel language</h1>
    <h1>It is case sensitive</h1>
    <h1>Dynamically typed, Interpreted language,Scripthing language</h1>
    <h1>Functional,Object oriented,Procedural programming language</h1>
    <h1>Open source,Cross platform</h1>
</body>
</html>